
.table {
}

.table thead tr {
  background-color: #d9d9d9;
}

.table thead tr th {
  padding: 8px 24px;
  text-align: left;
}

.table tbody tr {
  background-color: #f7f7f7;
}

.table tbody tr td {
  padding: 8px 24px;
}